In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("main_data.csv")

In [3]:
data.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,Animation Comedy Family,toy story,Tom Hanks Tim Allen Don Rickles John Lasseter ...
1,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst,Adventure Fantasy Family,jumanji,Robin Williams Jonathan Hyde Kirsten Dunst Joe...
2,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret,Romance Comedy,grumpier old men,Walter Matthau Jack Lemmon Ann-Margret Howard ...
3,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine,Comedy Drama Romance,waiting to exhale,Whitney Houston Angela Bassett Loretta Devine ...
4,Charles Shyer,Steve Martin,Diane Keaton,Martin Short,Comedy,father of the bride part ii,Steve Martin Diane Keaton Martin Short Charles...

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25085 entries, 0 to 25084
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   director_name  25085 non-null  object
 1   actor_1_name   25085 non-null  object
 2   actor_2_name   25085 non-null  object
 3   actor_3_name   25085 non-null  object
 4   genres         25085 non-null  object
 5   movie_title    25085 non-null  object
 6   comb           25085 non-null  object
dtypes: object(7)
memory usage: 1.3+ MB

In [5]:
data['director_name'] = data['director_name'].map(lambda x: x.replace(" ",""))
data['actor_1_name'] = data['actor_1_name'].map(lambda x: x.replace(" ",""))
data['actor_2_name'] = data['actor_2_name'].map(lambda x: x.replace(" ",""))
data['actor_3_name'] = data['actor_3_name'].map(lambda x: x.replace(" ",""))

In [6]:
data.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,JohnLasseter,TomHanks,TimAllen,DonRickles,Animation Comedy Family,toy story,Tom Hanks Tim Allen Don Rickles John Lasseter ...
1,JoeJohnston,RobinWilliams,JonathanHyde,KirstenDunst,Adventure Fantasy Family,jumanji,Robin Williams Jonathan Hyde Kirsten Dunst Joe...
2,HowardDeutch,WalterMatthau,JackLemmon,Ann-Margret,Romance Comedy,grumpier old men,Walter Matthau Jack Lemmon Ann-Margret Howard ...
3,ForestWhitaker,WhitneyHouston,AngelaBassett,LorettaDevine,Comedy Drama Romance,waiting to exhale,Whitney Houston Angela Bassett Loretta Devine ...
4,CharlesShyer,SteveMartin,DianeKeaton,MartinShort,Comedy,father of the bride part ii,Steve Martin Diane Keaton Martin Short Charles...

In [7]:
data['comb'] = data['movie_title'] + " " + data["genres"] + " " + data["actor_1_name"] + " " + data["actor_2_name"] + " " + data["actor_3_name"] + " " + data["director_name"]

In [8]:
data.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,JohnLasseter,TomHanks,TimAllen,DonRickles,Animation Comedy Family,toy story,toy story Animation Comedy Family TomHanks Tim...
1,JoeJohnston,RobinWilliams,JonathanHyde,KirstenDunst,Adventure Fantasy Family,jumanji,jumanji Adventure Fantasy Family RobinWilliams...
2,HowardDeutch,WalterMatthau,JackLemmon,Ann-Margret,Romance Comedy,grumpier old men,grumpier old men Romance Comedy WalterMatthau ...
3,ForestWhitaker,WhitneyHouston,AngelaBassett,LorettaDevine,Comedy Drama Romance,waiting to exhale,waiting to exhale Comedy Drama Romance Whitney...
4,CharlesShyer,SteveMartin,DianeKeaton,MartinShort,Comedy,father of the bride part ii,father of the bride part ii Comedy SteveMartin...

In [9]:
import nltk

In [10]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [14]:
#from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [15]:
cv = CountVectorizer(stop_words="english")

In [16]:
vectors = cv.fit_transform(data['comb'])

In [17]:
similarity = cosine_similarity(vectors)

array([[1.        , 0.        , 0.00567706, ..., 0.00650734, 0.00613639,
        0.00573835],
       [0.        , 1.        , 0.        , ..., 0.        , 0.00928489,
        0.        ],
       [0.00567706, 0.        , 1.        , ..., 0.00608363, 0.00573683,
        0.0053647 ],
       ...,
       [0.00650734, 0.        , 0.00608363, ..., 1.        , 0.00657585,
        0.0061493 ],
       [0.00613639, 0.00928489, 0.00573683, ..., 0.00657585, 1.        ,
        0.00579876],
       [0.00573835, 0.        , 0.0053647 , ..., 0.0061493 , 0.00579876,
        1.        ]])

In [21]:
data[data.movie_title=='the avengers'].index[0]

5875

In [22]:
def recommend(movie):
    movie_index = data[data.movie_title == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x: x[1])[1:11]
    
    for i in movie_list:
        print(data.iloc[i[0]].movie_title)

In [24]:
recommend('the avengers')

NameError: name 'similarity' is not defined