In [9]:
import numpy as np
import pandas as pd

In [10]:
data = pd.read_csv("main_data.csv")

In [11]:
data.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,Animation Comedy Family,toy story,Tom Hanks Tim Allen Don Rickles John Lasseter ...
1,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst,Adventure Fantasy Family,jumanji,Robin Williams Jonathan Hyde Kirsten Dunst Joe...
2,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret,Romance Comedy,grumpier old men,Walter Matthau Jack Lemmon Ann-Margret Howard ...
3,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine,Comedy Drama Romance,waiting to exhale,Whitney Houston Angela Bassett Loretta Devine ...
4,Charles Shyer,Steve Martin,Diane Keaton,Martin Short,Comedy,father of the bride part ii,Steve Martin Diane Keaton Martin Short Charles...

In [12]:
data['director_name'] = data['director_name'].map(lambda x: x.replace(" ",""))
data['actor_1_name'] = data['actor_1_name'].map(lambda x: x.replace(" ",""))
data['actor_2_name'] = data['actor_2_name'].map(lambda x: x.replace(" ",""))
data['actor_3_name'] = data['actor_3_name'].map(lambda x: x.replace(" ",""))

In [13]:
data.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,JohnLasseter,TomHanks,TimAllen,DonRickles,Animation Comedy Family,toy story,Tom Hanks Tim Allen Don Rickles John Lasseter ...
1,JoeJohnston,RobinWilliams,JonathanHyde,KirstenDunst,Adventure Fantasy Family,jumanji,Robin Williams Jonathan Hyde Kirsten Dunst Joe...
2,HowardDeutch,WalterMatthau,JackLemmon,Ann-Margret,Romance Comedy,grumpier old men,Walter Matthau Jack Lemmon Ann-Margret Howard ...
3,ForestWhitaker,WhitneyHouston,AngelaBassett,LorettaDevine,Comedy Drama Romance,waiting to exhale,Whitney Houston Angela Bassett Loretta Devine ...
4,CharlesShyer,SteveMartin,DianeKeaton,MartinShort,Comedy,father of the bride part ii,Steve Martin Diane Keaton Martin Short Charles...

In [14]:
data['comb'] = data['movie_title'] + " " + data["genres"] + " " + data["actor_1_name"] + " " + data["actor_2_name"] + " " + data["actor_3_name"] + " " + data["director_name"]

In [15]:
data.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,JohnLasseter,TomHanks,TimAllen,DonRickles,Animation Comedy Family,toy story,toy story Animation Comedy Family TomHanks Tim...
1,JoeJohnston,RobinWilliams,JonathanHyde,KirstenDunst,Adventure Fantasy Family,jumanji,jumanji Adventure Fantasy Family RobinWilliams...
2,HowardDeutch,WalterMatthau,JackLemmon,Ann-Margret,Romance Comedy,grumpier old men,grumpier old men Romance Comedy WalterMatthau ...
3,ForestWhitaker,WhitneyHouston,AngelaBassett,LorettaDevine,Comedy Drama Romance,waiting to exhale,waiting to exhale Comedy Drama Romance Whitney...
4,CharlesShyer,SteveMartin,DianeKeaton,MartinShort,Comedy,father of the bride part ii,father of the bride part ii Comedy SteveMartin...

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25085 entries, 0 to 25084
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   director_name  25085 non-null  object
 1   actor_1_name   25085 non-null  object
 2   actor_2_name   25085 non-null  object
 3   actor_3_name   25085 non-null  object
 4   genres         25085 non-null  object
 5   movie_title    25085 non-null  object
 6   comb           25085 non-null  object
dtypes: object(7)
memory usage: 1.3+ MB

In [17]:
import nltk

In [18]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [19]:
def stem(text):
    result = []
    for i in text.split():
        result.append(ps.stem(i))
        
    return " ".join(result)

In [20]:
stem(data.comb[3])

'wait to exhal comedi drama romanc whitneyhouston angelabassett lorettadevin forestwhitak'

In [21]:
data.comb = data.comb.apply(stem)

In [13]:
data.comb

0        venic drama romanc marcinwalewski magdalenacie...
1        the sleepov comedi horror joshfeldman guskamp ...
2        the farmer' wife drama jamescartwright geraldi...
3        a place at the tabl documentari jeffbridg tomc...
4        the yard drama action thriller crime markwahlb...
                               ...
20594    whitney houston: i wanna danc with somebodi dr...
20595    the pale blue eye mysteri thriller horror crim...
20596    women talk drama rooneymara clairefoy jessiebu...
20597    a man call otto comedi drama tomhank marianatr...
20598    alice, darl thriller drama annakendrick kanieh...
Name: comb, Length: 20599, dtype: object

In [22]:
#from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [24]:
cv = CountVectorizer(stop_words="english")

In [26]:
vectors = cv.fit_transform(data['comb'])

In [27]:
similarity = cosine_similarity(vectors)

In [28]:
similarity

array([[1.        , 0.11785113, 0.10540926, ..., 0.        , 0.23570226,
        0.        ],
       [0.11785113, 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.10540926, 0.        , 1.        , ..., 0.        , 0.1118034 ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.13363062,
        0.13363062],
       [0.23570226, 0.        , 0.1118034 , ..., 0.13363062, 1.        ,
        0.125     ],
       [0.        , 0.        , 0.        , ..., 0.13363062, 0.125     ,
        1.        ]])

In [38]:
def recommend(movie):
    movie_index = data[data.movie_title == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x: x[1])[1:13]
    
    for i in movies_list:
        print(data.iloc[i[0]].movie_title)

In [39]:
recommend('the avengers')

avengers: endgame
avengers: age of ultron
captain america: the first avenger
avengers: infinity war
captain america: civil war
iron man
iron man 2
iron man 3
ultimate avengers
ultimate avengers 2
lightyear
u.f.o.

In [40]:
import pickle

In [42]:
pickle.dump(similarity, open("similarity.pkl", "wb"))