In [1]:
import numpy as np
import pandas as pd

In [2]:
credits = pd.read_csv("credits.csv")

In [3]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [4]:
credits.shape

(45476, 3)

In [5]:
import ast

In [6]:
credits['cast'] = credits['cast'].map(lambda x: ast.literal_eval(x))
credits['crew'] = credits['crew'].map(lambda x: ast.literal_eval(x))

In [7]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [8]:
def get_actor1(x):
    if len(x) > 0:
        return x[0]['name']
    else:
        return np.NaN

In [9]:
def get_actor2(x):
    if len(x) > 1:
        return x[1]['name']
    else:
        return np.NaN

In [10]:
def get_actor3(x):
    if len(x) > 2:
        return x[2]['name']
    else:
        return np.NaN

In [11]:
def get_director(x):
    for i in range(len(x)):
        if x[i]['job'] == 'Director':
            return x[i]['name']
    else:
        return np.NaN

In [12]:
credits['actor1'] = credits['cast'].apply(get_actor1)
credits['actor2'] = credits['cast'].apply(get_actor2)
credits['actor3'] = credits['cast'].apply(get_actor3)
credits['director'] = credits['crew'].apply(get_director)

In [13]:
credits.head()

,cast,crew,id,actor1,actor2,actor3,director
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,Tom Hanks,Tim Allen,Don Rickles,John Lasseter
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,Robin Williams,Jonathan Hyde,Kirsten Dunst,Joe Johnston
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,Walter Matthau,Jack Lemmon,Ann-Margret,Howard Deutch
3,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,Whitney Houston,Angela Bassett,Loretta Devine,Forest Whitaker
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,Steve Martin,Diane Keaton,Martin Short,Charles Shyer

In [14]:
new_credits = credits.loc[:,['id','director','actor1','actor2','actor3']]

In [15]:
new_credits.head()

      id         director           actor1          actor2          actor3
0    862    John Lasseter        Tom Hanks       Tim Allen     Don Rickles
1   8844     Joe Johnston   Robin Williams   Jonathan Hyde   Kirsten Dunst
2  15602    Howard Deutch   Walter Matthau     Jack Lemmon     Ann-Margret
3  31357  Forest Whitaker  Whitney Houston  Angela Bassett  Loretta Devine
4  11862    Charles Shyer     Steve Martin    Diane Keaton    Martin Short

In [16]:
new_credits.isna().sum()

id             0
director     887
actor1      2418
actor2      3750
actor3      4660
dtype: int64

In [17]:
new_credits.dropna(how='any',inplace=True)

In [18]:
new_metadata = pd.read_csv("new_metadata.csv")

In [19]:
new_metadata.head()

,id,movie_title,tagline,overview,popularity,movie_genres
0,862,toy story,NaN,"Led by Woody, Andy's toys live happily in his ...",21.946943,Animation Comedy Family
1,8844,jumanji,Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...,17.015539,Adventure Fantasy Family
2,15602,grumpier old men,Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...,11.712900,Romance Comedy
3,31357,waiting to exhale,Friends are the people who let you be yourself...,"Cheated on, mistreated and stepped on, the wom...",3.859495,Comedy Drama Romance
4,11862,father of the bride part ii,Just When His World Is Back To Normal... He's ...,Just when George Banks has recovered from his ...,8.387519,Comedy

In [20]:
new_metadata.shape

(45463, 6)

In [21]:
new_metadata.duplicated().sum()

17

In [22]:
new_metadata.isna().sum()

id                  0
movie_title         3
tagline         25051
overview          954
popularity          3
movie_genres     2442
dtype: int64

In [23]:
data = new_metadata.merge(new_credits, on = 'id')

In [24]:
data.head()

,id,movie_title,tagline,overview,popularity,movie_genres,director,actor1,actor2,actor3
0,862,toy story,NaN,"Led by Woody, Andy's toys live happily in his ...",21.946943,Animation Comedy Family,John Lasseter,Tom Hanks,Tim Allen,Don Rickles
1,8844,jumanji,Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...,17.015539,Adventure Fantasy Family,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst
2,15602,grumpier old men,Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...,11.712900,Romance Comedy,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret
3,31357,waiting to exhale,Friends are the people who let you be yourself...,"Cheated on, mistreated and stepped on, the wom...",3.859495,Comedy Drama Romance,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine
4,11862,father of the bride part ii,Just When His World Is Back To Normal... He's ...,Just when George Banks has recovered from his ...,8.387519,Comedy,Charles Shyer,Steve Martin,Diane Keaton,Martin Short

In [25]:
data.shape

(40574, 10)

In [26]:
data.dropna(subset=['movie_title','movie_genres'], inplace=True)

In [27]:
data.isna().sum()

id                  0
movie_title         0
tagline         19862
overview          616
popularity          0
movie_genres        0
director            0
actor1              0
actor2              0
actor3              0
dtype: int64

In [28]:
data = data.rename(columns={'director':'director_name','actor1':'actor_1_name','actor2':'actor_2_name','actor3':'actor_3_name','movie_genres':'genres'})

data['comb'] = data['actor_1_name'] + ' ' + data['actor_2_name'] + ' '+ data['actor_3_name'] + ' '+ data['director_name'] +' ' + data['genres']

data = data.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title','comb']]

In [29]:
data

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,Animation Comedy Family,toy story,Tom Hanks Tim Allen Don Rickles John Lasseter ...
1,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst,Adventure Fantasy Family,jumanji,Robin Williams Jonathan Hyde Kirsten Dunst Joe...
2,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret,Romance Comedy,grumpier old men,Walter Matthau Jack Lemmon Ann-Margret Howard ...
3,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine,Comedy Drama Romance,waiting to exhale,Whitney Houston Angela Bassett Loretta Devine ...
4,Charles Shyer,Steve Martin,Diane Keaton,Martin Short,Comedy,father of the bride part ii,Steve Martin Diane Keaton Martin Short Charles...
...,...,...,...,...,...,...,...
40568,Aaron Osborne,Lisa Boyle,Kena Land,Zaneta Polard,Science Fiction,caged heat 3000,Lisa Boyle Kena Land Zaneta Polard Aaron Osbor...
40569,John Irvin,Patrick Bergin,Uma Thurman,David Morrissey,Drama Action Romance,robin hood,Patrick Bergin Uma Thurman David Morrissey Joh...
40570,Hamid Nematollah,Leila Hatami,Kourosh Tahami,Elham Korda,Drama Family,subdue,Leila Hatami Kourosh Tahami Elham Korda Hamid ...
40571,Lav Diaz,Angel Aquino,Perry Dizon,Hazel Orencio,Drama,century of birthing,Angel Aquino Perry Dizon Hazel Orencio Lav Dia...
40572,Mark L. Lester,Erika Eleniak,Adam Baldwin,Julie du Page,Action Drama Thriller,betrayal,Erika Eleniak Adam Baldwin Julie du Page Mark ...

In [30]:
data.to_csv('data.csv',index=False)